<div class="container">
 <div class="row">
  <style>
   .field {
    display: flex;
    margin-bottom: 10px;
   }

   label {
    width: 180px;
   }

   .last_name {
    margin-right: 30px;
   }

   .address {
    width: 50%;
   }

   .btn-success, .btn-danger {
     margin: 10px 5% 20px 0;
   }

   /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
   @media screen and (max-width:768px) {
    h3 {
     font-size: 18px;
    }

    .field, .btn-success, .btn-danger {
     font-size: 11px;
    }

    label {
     width: 120px;
    }

    .last_name {
     margin-right: 15px;
     width: 100px;
    }

    .text_field {
      width: 100px;
    }
   }
  </style>

  <div class="col-12 mx-auto">
   <h3 style="padding: 10px 0 3% 10%">
    <span style="background-color: #e6dcdf;">
     会員情報編集
    </span>
   </h3>

   <%= form_with model: @customer, url: update_path, method: :patch do |f| %>
    <div class="field">
     <%= f.label :full_name, "氏名" %>
     <%= f.text_field :last_name, class: "last_name" %>
     <%= f.text_field :first_name, class: "text_field" %>
    </div>

    <div class="field">
     <%= f.label :full_name_kana, "フリガナ" %>
     <%= f.text_field :last_name_kana, class: "last_name" %>
     <%= f.text_field :first_name_kana, class: "text_field" %>
    </div>

    <div class="field">
     <%= f.label :postal_code, "郵便番号" %>
     <%= f.text_field :postal_code, class: "text_field" %>
    </div>

    <div class="field">
     <%= f.label :address, "住所" %>
     <%= f.text_field :address, class: "address" %>
    </div>

    <div class="field">
     <%= f.label :telephone_number, "電話番号" %>
     <%= f.text_field :telephone_number, class: "text_field" %>
    </div>

    <div class="field">
     <%= f.label :email, "メールアドレス" %>
     <%= f.text_field :email, class: "text_field" %>
    </div>

    <label></label>
    <%= f.submit "編集内容を保存", class: "btn btn-success" %>
    <%= link_to "退会する", unsubscribe_path, class: "btn btn-danger" %>
   <% end %>

  </div>

 </div>
</div>
