<div class="container">
 <div class="row">
  <style>
   thead {
    color: rgba(0, 0, 0, 0.6);
    background-color: #e6dcdf;
   }

   .active, .no_active {
    font-weight: bold;
   }

   .pagination {
    justify-content: center;
   }

   span {
    margin-right: 10px;
   }

   /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
   @media screen and (max-width: 768px) {
    .table-inverse {
     font-size: 10px;
    }

    .item_id {
     width: 55px;
    }

    .item_price, .item_genre {
     width: 65px;
    }

    .is_active {
     width: 75px;
    }

    h3 {
     font-size: 18px;
    }
   }
  </style>

  <div class="col-12 mx-auto">
   <h3 style="padding: 10px 0 3% 5%;">
    <span style="background-color: #e6dcdf;">商品一覧</span>
   </h3>
  </div>

  <div class="col-lg-12 col-md-12 mx-auto">
   <table class="table table-inverse">

    <thead>
     <tr>
      <th class="item_id">商品ID</th>
      <th>商品名</th>
      <th class="item_price">税抜価格</th>
      <th class="item_genre">ジャンル</th>
      <th class="is_active">ステータス</th>
     </tr>
    </thead>

    <tbody style="color: rgba(0, 0, 0, 0.6);">
     <% @items.each do |item| %>
     <tr>
      <!-- 商品ID -->
      <td>
       <%= item.id %>
      </td>

      <!-- 商品名 -->
      <td>
       <%= link_to item.name, admin_item_path(item.id) %>
      </td>

      <!-- 税抜価格 -->
      <td>
       <%= item.price.to_s(:delimited) %>
      </td>

      <!-- ジャンル -->
      <td>
       <%= item.genre.name %>
      </td>

      <!-- ステータス -->
       <% if item.is_active == "active" %>
        <td class="active", style="color: #28a745;">
         <%= item.is_active_i18n %>
        </td>
       <% else %>
        <td class="no_active">
         <%= item.is_active_i18n %>
        </td>
       <% end %>

     </tr>
     <% end %>
    </tbody>
   </table>

   <!-- ページネーション -->
   <%= paginate @items %>
  </div>
 </div>
</div>