<div class="container">
 <div class="row">
  <style>
   label {
    width: 120px;
   }

   select, input, textarea {
    width: 60%;
   }

   textarea {
    height : 20%;
   }

   input[type=radio] {
    width: auto;
   }
  </style>

  <div class="col-12">
   <h3 style="padding: 10px 0 30px 5%;">
    <span style="background-color: #e6dcdf;">
     商品新規登録
    </span>
   </h3>
  </div>

  <div class="col-lg-8 col-md-9 mx-auto">
   <%= form_with model: @item, url: new_admin_item_path, method: :get do |f| %>
    <div class="field">
     <label for="admin_item_image">商品画像</label>
     <%= f.file_field :image, accept: "image/*" %>
    </div>

    <div class="field">
     <label for="admin_item_name">商品名</label>
     <%= f.text_field :name %>
    </div>

    <div class="field">
     <label for="admin_item_introduction">商品説明</label>
     <%= f.text_area :introduction %>
    </div>

    <div class="field">
     <label for="admin_item_genre">ジャンル</label>
     <%= f.collection_select(:genre_id, @genres, :id, :name, {prompt: "-- 選択してください --"} ) %>
    </div>

    <div class="field">
     <label for="admin_item_price">税抜価格</label>
     <%= f.text_field :price %> 円
    </div>

    <div class="field">
     <label for="admin_item_is_active">販売ステータス</label>
     <%= f.radio_button :is_active, "販売中" %>販売中 <%= f.radio_button :is_active, "販売停止中" %>販売停止中
    </div>
   <% end %>
  </div>
 </div>
</div>