<div class="container">
 <div class="row">
  <style>
   .item-image {
    width: 380px;
    height: 285px;
   }

   label {
    width: 160px;
   }

   .input_wrap {
    margin-top: 5%;
   }

   .field {
    width: 100%;
    display: flex;
    flex-direction: row;
   }

   .active, .no_active {
    font-weight: bold;
   }

   text {
    width: 70%;
   }

   /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
   @media screen and (max-width: 768px) {
    .item-image {
     width: 285px;
     height: 214px;
    }

    text {
     width: 60%;
     margin-bottom: 15px;
    }

    .field, .btn-success {
     font-size: 13px;
    }

    h3 {
     font-size: 20px;
    }

    label {
     width: 130px;
    }
   }
  </style>

  <div class="col-lg-12 mx-auto">
   <h3 style="padding: 10px 0 30px 5%;">
    <span style="background-color: #e6dcdf;">商品詳細</span>
   </h3>
  </div>

  <div class="col-lg-5", style="margin-bottom: 30px;">
   <%= image_tag @item.image, class: "item-image" %>
  </div>

  <div class="col-lg-6 col-md-10 ofset-1">
   <div class="field">
    <label for="admin_item_name">商品名</label>
    <text><%= @item.name %></text>
   </div>

   <div class="field">
    <label for="admin_item_introduction">商品説明</label>
    <text><%= @item.introduction %></text>
   </div>

   <div class="field">
    <label for="admin_item_genre">ジャンル</label>
    <%= @item.genre.name %>
   </div>

   <div class="field">
    <label for="admin_item_price">税込価格</br>(税抜価格)</label>
    <text style="padding-top: 10px;">
     <%= (@item.price * 1.1).floor.to_s(:delimited) %>
    （<%= @item.price.to_s(:delimited) %>）円
    </text>
   </div>

   <div class="field">
    <label for="admin_item_is_active">販売ステータス</label>
    <% if @item.is_active == "active" %>
     <div class="active", style="color: #28a745;">
      <%= @item.is_active_i18n %>
     </div>
    <% else %>
     <div class="no_active">
      <%= @item.is_active_i18n %>
     </div>
    <% end %>
   </div>

   <div class="input_wrap">
    <label></label>
    <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %>
   </div>

  </div>
 </div>
</div>