<div class="container">
 <div class="row">
  <style>
   label {
    width: 150px;
    padding-right: 10px;
   }

   span {
    background-color: #e6dcdf;
    display: inline;
   }
  </style>

  <div class="col-12 offset-1">
   <h2 style="padding: 10px 0;">
    <span>管理者ログイン</span>
   </h2>
  </div>

  <div class="mx-auto", style="padding: 0 20% 0 0;">
   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
     <label for="admin_email">メールアドレス</label>
     <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "35" %>
    </div>

    <div class="field">
     <label for="admin_password">パスワード</label>
     <%= f.password_field :password, autocomplete: "current-password", size: "35" %>
    </div>

    <div class="actions" style="padding: 20px 0 0 155px;">
     <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
   <% end %>
  </div>
 </div>
</div>

<%= render "admin/shared/links" %>
