<div class="container">
 <div class="row">
  <style>
   .main-visual {
    width: 700px; /* 横幅700px */
    height: 400px; /* 高さ400px */
    margin-top: 20px;
    background-image: url("<%= asset_path('top.jpg') %>");
    background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
    background-position: center; /* 背景画像を中央に配置 */
   }

   .main-visual-content {
    width: 420px; /* 横幅420px */
    height: 250px; /* 高さ250px */
    background-color: rgba(0, 0, 0, 0.4);  /* 背景色を40%透明の白にする */
    text-align: center; /* 文字を中央揃えにする */
    padding-top: 55px; /* 上側の内側余白で垂直方向の位置を調整 */
    color: white; /* 文字色 */
    line-height: 35px; /* 文字の行の高さ */
    position: absolute; /* 水平・垂直方向の中央揃え */
    top: 120px;
    left: 180px;
    margin: -25px 0 0 -25px; /* 完全に中央に配置するため、上・左の margin を負の数に設定 */
    font-size: 17px;
    }

    .item_image {
     width: 180px;
     height: 120px;
     margin-bottom: 15px;
    }

    .new_item {
     line-height: 25px; /* 文字の行の高さ */
     display: block;
    }

    .item {
     display: inline-block;
     margin: 10px 30px 10px 0;
    }

    .items {
     text-align: right; /* 文字の右寄せ */
    }

    /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
    @media screen and (max-width: 768px) {
     .main-visual {
      width: 500px; /* 横幅500px */
      height: 350px; /* 高さ350px */
     }

     .main-visual-content {
      width: 420px; /* 横幅420px */
      height: 250px; /* 高さ250px */
      padding-top: 45px; /* 上側の内側余白で垂直方向の位置を調整 */
      top: 100px;
      left: 80px;
     }
    }

    /* スマートフォンサイズ（425px）以下の際に適用される設定 */
    @media screen and (max-width:425px) {
     .main-visual {
      width: 350px; /* 横幅350px */
      height:250px; /* 高さ200px */
     }

     .main-visual-content {
      width: 290px; /* 横幅290px */
      height: 200px; /* 高さ200px */
      padding-top: 25px; /* 上側の内側余白で垂直方向の位置を調整 */
      top: 70px;
      left: 70px;
      font-size: 12px;
     }
    }
  </style>

  <div class="col-lg-11 col-md-12 mx-auto">
   <div class="main-visual">
    <div class="main-visual-content">
     <p>
      ようこそ、ながのCAKE！へ</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。
     </p>
    </div>
   </div>

   <h3 style="margin-top: 40px">新着商品</h3>
   <div class="new_item">
    <% @items.each do |item| %>
     <div class="item">
      <%= image_tag item.image, class: "item_image" %></br>
      <text style="width: 200px;"><%= item.name %></text></br>
      ¥<%= (item.price * 1.1).floor.to_s(:delimited) %></br>
     </div>
    <% end %>
   </div>

   <div class="items">
    <%= link_to "全ての商品を見る >", items_path %>
   </div>
  </div>

 </div>
</div>