<div class="container">
 <div class="row">
  <style>
   thead {
    color: rgba(0, 0, 0, 0.6);
    background-color: #e6dcdf;
   }

   .active, .no_active {
    font-weight: bold;
   }

   /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
   @media screen and (max-width: 768px) {
    h3 {
     font-size: 18px;
    }

    .table-inverse {
     font-size: 13px;
    }
   }
  </style>

  <div class="col-12 mx-auto">
   <h3 style="padding: 10px 0 3% 5%;">
    <span style="background-color: #e6dcdf;">会員一覧</span>
   </h3>
  </div>

  <div class="col-lg-10 col-md-10 mx-auto">
   <table class="table table-inverse">
    <thead>
     <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
     </tr>
    </thead>

    <tbody style="color: rgba(0, 0, 0, 0.6);">
     <% @customers.each do |customer| %>
      <tr>
       <td>
        <%= customer.id %>
       </td>
       <td>
        <%= link_to customer.full_name, admin_customer_path(customer.id) %>
       </td>
       <td>
        <%= customer.email %>
       </td>

       <% if customer.is_deleted == "active" %>
        <td class="active", style="color: #28a745;">
         <%= customer.is_deleted_i18n %>
        </td>
       <% else %>
        <td class="no_active">
         <%= customer.is_deleted_i18n %>
        </td>
       <% end %>

      </tr>
     <% end %>
    </tbody>

   </table>

   <%= paginate @customers %>
  </div>
 </div>
</div>