<div class="container">
 <div class="row">
  <style>
   label {
    width: 220px;
   }

   .field {
    margin: 0 0 10px 3%;
   }

   .address_field {
    width: 60%;
   }

   .action {
    float: right; /* 右寄せ */
   }

   table {
    margin-bottom: 15%;
   }

   thead {
    background-color: #e6dcdf;
   }

   table, th, .address, .actions {
    border: solid rgba(0, 0, 0, 0.6);
   }

   th, .address {
    padding: 20px 20px 20px 5px;
   }

   td {
    background-color: #fbf5f7;
   }

   .actions {
    width: 30%;
    height: 100%;
    text-align: center; /* 中央寄せ */
   }

   .btn-success {
    margin-right: 5px;
   }

   /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
   @media screen and (max-width:768px) {
    .field, label {
     display: block; /* ブロック要素化して縦並び */
    }

    .address {
     padding: 10px 20px 10px 5px;
    }

    .actions {
     margin-bottom: 10px;
     padding: 10px 5px 0 5px;
     width: 27%;
    }

    .btn-success, .btn-danger {
     margin-bottom: 10px;
    }

    h3 {
     font-size: 18px;
    }

    .field, table, .btn-success, .btn-danger {
     font-size: 13px;
    }
   }
  </style>

  <div class="col-lg-10 col-md-12">
   <div class="new_address">
    <h3 style="padding: 10px 0 3% 10%">
    <span style="background-color: #e6dcdf;">
      配送先登録／一覧
     </span>
    </h3>

    <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
     <div class="field">
      <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
      <%= f.text_field :postal_code %>
     </div>

     <div class="field">
      <%= f.label :address, "住所" %>
      <%= f.text_field :address, class: "address_field" %>
     </div>

     <div class="field">
      <%= f.label :name, "宛名" %>
      <%= f.text_field :name %>
      <div class="action">
       <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
     </div>
    <% end %>
   </div>
  </div>

  <div class="col-lg-10 col-md-12">
   <div class="address_index">
    <table>
     <thead>
      <tr>
       <th>郵便番号</th>
       <th>住所</th>
       <th>宛名</th>
       <th></th>
      </tr>
     </thead>

　   <tbody style="color: rgba(0, 0, 0, 0.6);">
　    <% @addresses.each do |address| %>
　    <tr>
　     <!-- 郵便番号 -->
　     <td class="address"><%= address.postal_code %></td>

　     <!-- 住所 -->
　     <td class="address"><%= address.address %></td>

　     <!-- 宛名 -->
　     <td class="address"><%= address.name %></td>

       <td class="actions">
        <!-- 編集ボタン -->
        <%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success" %>
        <!-- 削除ボタン -->
        <%= link_to "削除する", address_path(address.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
       </td>
　    </tr>
　    <% end %>
　   </tbody>
    </table>
   </div>
  </div>

 </div>
</div>