<div class="container">
 <div class="row">
  <style>
   .destroy_all {
    margin: 0 0 0 auto;
    padding-top: 10px;
   }

   .item-image {
    width: 48px;
    height: 35px;
   }

   table, th, td {
    border: solid rgba(0, 0, 0, 0.6);
   }

   th {
    padding: 15px 10px;
   }

   td {
    padding: 5px 10px;
   }

   td {
    background-color: #fbf5f7;
   }

   .name {
    width: 40%;
   }

   .price, .amount, .subtotal {
    width: 15%;
   }

   .select {
    height: 38px;
    width: 40px;
    margin-right: 10px;
   }

   .actions {
    text-align: center;
   }

   .btn-primary {
    margin: 25px 0 0 25px;
   }

   .new_order {
    text-align: center;
    margin: 50px 0 10%;
   }

   .total-text, .total-price {
    width: 28%;
   }

   /* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
   @media screen and (max-width:1024px) {
    h3 {
     font-size: 20px;
    }

    table, .btn {
     font-size: 13px;
    }

    .select {
     height: 33px;
     width: 30px;
     margin-right: 5px;
    }

    .name {
     width: 32%;
    }

    .price, .amount, .subtotal {
     width: 17%;
    }

    .total-text, .total-price {
     width: 31%;
    }
   }

   /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
   @media screen and (max-width:768px) {
    .name {
     width: 40%;
    }

    .price, .amount, .subtotal, th {
     width: 15%;
    }

    .select {
     height: 33px;
     width: 48px;
     margin: 0 0 5px 0;
    }

    .total-text, .total-price {
     width: 48%;
    }
   }
  </style>

  <div class="col-lg-11 col-md-12 col-sm-12 mx-auto">
   <div class="top" style="display: flex;">
    <h3 style="padding: 10px 0 3% 20px;">
     <span style="background-color: #e6dcdf;">
      ショッピングカート
     </span>
    </h3>
    <div class="destroy_all">
     <%= link_to "カートを空にする", destroy_all_path, method: :delete, class: "btn btn-danger" %>
    </div>
   </div>

   <div class="orders">
    <table style="width: 100%;">
     <thead style="background-color: #e6dcdf;">
      <tr>
       <th class="name">商品名</th>
       <th class="price">単価（税込）</th>
       <th class="amount">数量</th>
       <th class="subtotal">小計</th>
       <th></th>
      </tr>
     </thead>

     <tbody>
      <% @cart_items.each do |cart_item| %>
      <% @total += cart_item.subtotal %>
       <tr>

        <td>
         <!-- 商品画像 -->
         <%= image_tag cart_item.item.image, class: "item-image" %>
         <!-- 商品名 -->
         <%= cart_item.item.name %>
        </td>

        <td>
         <!-- 単価（税込） -->
         <%= (cart_item.item.with_tax_price).floor.to_s(:delimited) %>
        </td>

        <td class="actions">
         <!-- 数量を変更 -->
         <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch do |f| %>
          <%= f.select :amount, *[1..10], {prompt: "個数選択"}, class: "select" %>
          <%= f.submit "変更",class: "btn btn-success" %>
         <% end %>
        </td>

        <td>
         <!-- 小計 -->
         <%= cart_item.subtotal.floor.to_s(:delimited) %>
        </td>

        <td class="actions">
         <!-- 削除 -->
         <%= link_to "削除する", cart_item_path(cart_item.id, cart_item), method: :delete, class: "btn btn-danger" %>
        </td>
       </tr>
      <% end %>
     </tbody>
    </table>

     <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
     <table align="right" style="margin-top: 25px; background-color: #e6dcdf;">
      <th class="total-text">合計金額</th>
      <td class="total-price"><%= @total.floor.to_s(:delimited) %></td>
     </table>
    </div>

    <div class="new_order">
     <% if @cart_items.empty? %>
     <% else %>
      <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success" %>
     <% end %>
    </div>
   </div>

  </div>

 </div>
</div>