<div class="container">
 <div class="row">
  <style>
   .destroy_all {
    margin: 0 0 0 auto;
    padding-top: 10px;
   }

   .top {
    display: flex;
   }

   .item-image {
    width: 48px;
    height: 35;
   }

   table, th, td {
    border: solid rgba(0, 0, 0, 0.6);
   }

   th {
    padding: 15px 10px;
   }

   td {
    padding: 5px 10px;
   }

   td {
    background-color: #fbf5f7;
    color: rgba(0, 0, 0, 0.6);
   }

   table {
    width: 100%;
   }

   .name {
    width: 40%;
   }

   .price, .amount, .subtotal {
    width: 15%;
   }

   .select {
    height: 38px;
    width: 40px;
    margin-right: 10px;
   }

   .actions {
    text-align: center;
   }

  </style>

  <div class="col-lg-11 mx-auto">
   <div class="top">
    <h3 style="padding: 10px 0 3% 20px;">
     <span style="background-color: #e6dcdf;">
      ショッピングカート
     </span>
    </h3>
    <div class="destroy_all">
     <%= link_to "カートを空にする", destroy_all_path, method: :delete, class: "btn btn-danger" %>
    </div>
   </div>

   <div class="orders">
    <table>
     <thead style="background-color: #e6dcdf;">
      <tr>
       <th class="name">商品名</th>
       <th class="price">単価（税込）</th>
       <th class="amount">数量</th>
       <th class="subtotal">小計</th>
       <th></th>
      </tr>
     </thead>

     <tbody>
      <% @cart_items.each do |cart_item| %>
       <tr>

        <td>
         <!-- 商品画像 -->
         <%= image_tag cart_item.item.image, class: "item-image" %>
         <!-- 商品名 -->
         <%= cart_item.item.name %>
        </td>

        <td>
         <!-- 単価（税込） -->
         <%= (cart_item.item.price * 1.1).floor.to_s(:delimited) %>
        </td>

        <td class="actions">
         <!-- 数量を変更 -->
         <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch do |f| %>
          <%= f.select :amount, *[1..10], {prompt: "個数選択"}, class: "select" %>
          <%= f.submit "変更",class: "btn btn-success" %>
         <% end %>
        </td>

        <td>
         <!-- 小計 -->
         <%= cart_item.subtotal.floor.to_s(:delimited) %>

        </td>

        <td class="actions">
         <!-- 削除 -->
         <%= link_to "削除する", cart_item_path(cart_item.id, cart_item), method: :delete, class: "btn btn-danger" %>

        </td>
       </tr>
      <% end %>
     </tbody>
    </table>
   </div>
  </div>

 </div>
</div>