<div class="container">
 <div class="row">
  <style>
   .item-image {
    width: 48px;
    height: 35px;
   }

   table, th, td {
    border: solid rgba(0, 0, 0, 0.6);
   }

   th {
    background-color: #e6dcdf;
    padding: 15px 10px;
   }

   td {
    padding: 10px;
    background-color: #fbf5f7;
    color: rgba(0, 0, 0, 0.6);
   }

   th, td {
    width: 120px;
   }

   .first {
    width: 350px;
   }

   .table1 {
    margin-right: 5%;
   }

   label {
    font-weight: bold;
    width: 70px;
    margin-right: 20px;
   }

   .btn-success {
    margin: 5% 0 10%;
   }

   /* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
   @media screen and (max-width:1024px) {
    .table1 {
     margin-bottom: 5%;
    }
   }

   /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
   @media screen and (max-width:768px) {
    h3 {
     font-size: 20px;
    }

    table, .payment, .address, .btn-success {
     font-size: 13px;
    }
   }
  </style>

  <div class="col-lg-12 mx-auto">
   <h3 style="padding: 10px 0 2% 10%">
    <span style="background-color: #e6dcdf;">
     注文情報確認
    </span>
   </h3>

   <div class="cart_items">
    <table align="left", class="table1">
     <thead>
      <tr>
       <th class="first">商品名</th>
       <th>単価（税込）</th>
       <th>数量</th>
       <th>小計</th>
      </tr>
     </thead>

     <tbody>
      <% @cart_items.each do |cart_item| %>
       <tr>
        <td class="first">
         <!-- 商品画像 -->
         <%= image_tag cart_item.item.image, class: "item-image" %>
         <!-- 商品名 -->
         <%= cart_item.item.name %>
        </td>

        <td>
         <!-- 単価（税込） -->
         <%= (cart_item.item.with_tax_price).floor.to_s(:delimited) %>
        </td>

        <td>
         <!-- 数量 -->
         <%= cart_item.amount %>
        </td>

        <td>
         <!-- 小計 -->
         <%= cart_item.subtotal.floor.to_s(:delimited) %>
        </td>
       </tr>
      <% end %>
     </tbody>
    </table>

    <table class="table2">
     <tbody>
      <tr>
       <th>送料</th>
       <td><%= @shipping_fee.to_i %></td>
      </tr>

      <tr>
       <th>商品合計</th>
       <td><%= @total.to_s(:delimited) %></td>
      </tr>

      <tr>
       <th>請求金額</th>
       <td><%= @bill.to_s(:delimited) %></td>
      </tr>
     </tbody>
    </table>
   </div>
  </div>

  <div class="col-12" style="margin-top: 30px">
   <div class="payment", style="margin: 40px 0 20px;">
    <label for="payment_method">支払方法</label>
    <%= @order.payment_method_i18n %>
   </div>
   <div class="address">
    <label for="address">お届け先</label>
    <text style="margin-right: 10px;">
     〒<%= @order.postal_code %>
    </text>
    <%= @order.address %></br>
    <label></label>
    <%= @order.name %>
   </div>

   <div class="action", style="text-align: center;">
    <!-- 注文確定処理（create）を行うため、createのURL、createのmethodを設定 -->
    <%= form_with model: @order, url: orders_path, method: :post do |f| %>
     <!-- 顧客ID -->
     <%= f.hidden_field :customer_id, :value => @customer %>
     <!-- 配送先郵便番号 -->
     <%= f.hidden_field :postal_code %>
     <!-- 配送先住所 -->
     <%= f.hidden_field :address %>
     <!-- 配送先氏名 -->
     <%= f.hidden_field :name %>
     <!-- 請求金額 -->
     <%= f.hidden_field :bill, :value => @bill %>
     <!-- 支払方法 -->
     <%= f.hidden_field :payment_method %>
     <!-- 受注ステータス -->
     <%= f.hidden_field :order_status %>

     <%= f.submit "注文を確定する", class: "btn btn-success" %>
    <% end %>
   </div>
  </div>

 </div>
</div>
