<div class="container">
 <div class="row">
  <style>
   h5 {
    font-weight: bold;
   }

   .radio_button {
    margin-left: 40px;
   }

  </style>

  <div class="col-lg-12 mx-auto">
   <h3 style="padding: 10px 0 3% 80px;">
    <span style="background-color: #e6dcdf;">
     注文情報入力
    </span>
   </h3>

   <div class="payment">
    <h5>
     支払方法
    </h5>


    <%= form_with model: @order do |f| %>
     <div class="radio_button">
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %></br>

      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
     </div>

      <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
    <% end %>

   </div>
  </div>

 </div>
</div>
