<div class="container">
 <div class="row">
  <style>
   label {
    width: 150px;
    margin: 15px 0;
   }

   h3 {
    padding: 20px 0 20px 5%;
   }

   h5 {
    margin-left: 8%;
   }

   .text_field {
    width: 60%;
   }

   .sign_up {
     margin-right: 10px;
   }
  </style>

  <div class="col-lg-10 offset-1">
   <h3>
    <span style="background-color: #e6dcdf;">
     ログイン
    </span>
   </h3>
   <h5>
    <span style="background-color: #e6dcdf;">
     会員の方はこちらからログイン
    </span>
   </h5>
  </div>

  <div class="mx-auto", style="width: 60%">
   <%= form_with model: @customer, url: customer_session_path do |f| %>
   <!--%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>-->
   <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text_field" %>
   </div>

   <div class="field">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "text_field" %>
  </div>

   <div class="actions">
    <label></label>
    <%= f.submit "ログイン", class: "btn btn-primary" %>
   </div>
   <% end %>
  </div>

  <div class="col-lg-10 offset-1", style="margin-top: 5%;">
   <h5>
    <span style="background-color: #e6dcdf;">
     会員登録がお済みでない方
    </span>
   </h5>
  </div>
  <div class="mx-auto", style="width: 50%">
   <div class="field">
    <%= link_to "こちら", new_customer_registration_path, class: "sign_up" %>
    から新規登録を行なってください。
   </div>
  </div>


 </div>
</div>


