<div class="container" style="margin-top: 40px;">
 <div class="row">
  <style>
   .item-image {
    width: 380px;
    height: 285px;
   }

   .select {
    width: 150px;
    height: 38px;
    margin-right: 40px;
   }

   text {
    font-size:25px;
   }

   /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
   @media screen and (max-width: 768px) {
    .item-image {
     width: 285px;
     height: 214px;
    }

    h4, text {
     font-size: 18px;
    }

    .field, .btn-success, .select {
     font-size: 13px;
    }

    .select {
     height: 32px;
    }
   }
  </style>

  <div class="col-lg-5" style="margin-bottom: 30px;">
   <%= image_tag @item.image, class: "item-image" %>
  </div>

  <div class="col-lg-6 col-md-10 ofset-1">
   <!-- 商品名 -->
   <h4 style="font-weight: bold;">
    <%= @item.name %>
   </h4>

   <!-- 商品説明文 -->
   <div class="field" style="margin-bottom: 40px;">
    <%= @item.introduction %>
   </div>

   <!-- 価格 -->
   <div class="price">
    <text>
      ¥ <%= (@item.price * 1.1).floor.to_s(:delimited) %>
    </text>（税込）
   </div>

   <div class="field" style="margin-top: 20px;">
    <!-- 商品のステータスが販売中（active）の場合 -->
    <% if @item.is_active == "active" %>
    <!-- ログイン済み顧客の場合、以下を表示する -->
     <% if customer_signed_in? %>
      <!-- 個数選択のプルダウンと、カートに入れるボタンを表示する -->
      <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
       <!-- customer_idというキーに対して、ログイン中のカスタマーIDを渡す -->
       <%= f.hidden_field :customer_id, :value => current_customer.id %>
       <!-- itemというキーに対して、商品idを渡す -->
       <%= f.hidden_field :item_id, :value => @item.id %>
       <!-- amountというキーに対して、個数（1〜10）を渡す -->
       <%= f.select :amount, *[1..10], {prompt: "個数選択"}, class: "select" %>
       <%= f.submit "カートに入れる", class: "btn btn-success" %>
      <% end %>
     <% end %>
    <!-- 商品のステータスが売切れ（no_active）の場合 -->
    <%else%>
     <!-- 「売切れ」を表示する -->
     <h5 style="font-weight: bold;">売切れ</h5>
    <% end %>
   </div>
  </div>

 </div>
</div>