<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- FontAwesomeの読み込み -->
    <script src="https://kit.fontawesome.com/6eb889a2d4.js" crossorigin="anonymous"></script>
    <!-- CSSファイルの読み込み -->
    <link rel="stylesheet" href="style.css" />
  </head>

  <style>
   .bkcolor {
    background-color: #dbafbd;
   }
  </style>

  <body>
    <!-- ここからヘッダー -->
    <header class="bkcolor">
     <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
       <!-- アイコン -->
       <%= link_to '/', class: "navbar-brand" do %>
        <%= image_tag "logo(2).png", size: "90x30" %>
       <% end %>

       <!-- ナビゲーションバー -->
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
       </button>

       <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

         <li>
          <%= link_to '/about', class: "nav-link text-light" do %>
           <i class="fa-solid fa-cookie-bite"></i>
           About
          <% end %>
         </li>
        </ul>
       </div>
      </div>
     </nav>

    </header>
    <!-- ここまでヘッダー -->

    <%= yield %>
  </body>
</html>
