<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- FontAwesomeの読み込み -->
    <script src="https://kit.fontawesome.com/6eb889a2d4.js" crossorigin="anonymous"></script>
    <!-- CSSファイルの読み込み -->
    <link rel="stylesheet" href="style.css" />
  </head>

  <style>
   .bkcolor {
    background-color: #dbafbd;
   }
  </style>

  <body>
    <!-- ここからヘッダー -->
    <header class="bkcolor">
     <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
       <!-- アイコン -->
       <%= link_to '/', class: "navbar-brand" do %>
        <%= image_tag "logo(2).png", size: "90x30" %>
       <% end %>

       <!-- ナビゲーションバー -->
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
       </button>

       <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
         <% if request.fullpath.include? "/admin" %>
          //admin側のheaderを返す
         <% else %>
         // user側のheaderを返す
         <% end %>
        <% elsif customer_signed_in? %>
   // userログイン状態の際に、表示したいheaderのメニューを記載
        <% else %>
        <!-- ここからadminもuserもログアウト状態なら表示する内容 -->
         <li>
          <%= link_to about_path, class: "nav-link" do %>
           <i class="fa-solid fa-mug-hot"></i>
           About
          <% end %>
         </li>

         <li>
          <%= link_to items_path, class: "nav-link" do %>
           <i class="fa-solid fa-cake-candles"></i>
           商品一覧
          <% end %>
         </li>

         <li>
          <%= link_to new_customer_registration_path, class: "nav-link" do %>
           <i class="fas fa-user-plus"></i>
           新規登録
          <% end %>
         </li>

         <li>
          <%= link_to new_customer_session_path, class: "nav-link" do %>
           <i class="fas fa-sign-in-alt"></i>
           ログイン
          <% end %>
         </li>

         <!-- ここまでadminもuserもログアウト状態なら表示する内容 -->
        <% end %>
        </ul>
       </div>

      </div>
     </nav>

    </header>
    <!-- ここまでヘッダー -->

    <%= yield %>
  </body>
</html>
